@charset "utf-8";



@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'android'; 
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

:root { /*Pasta raiz*/
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --fonte-padrao: Arial, verdana, helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', Cursive;
}
* { /*Zera todas configuracoes, mesmo as que nao foram especificadas */
    margin: 0px;
    padding: 0px;
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
    80% {
        -webkit-transform: translateY(-1px);
        transform: translateY(-1px);
    }
} /* para construir o efeito 4 */


header {
    /*background-color: rgba(0, 128, 0, 0.383);*/
    display: block;
    /*width: auto; nao sei pra que coloquei antes*/
    /* descobrir pq o min height 150 nao foi suficiente para ficar igual ao primeiro exercicio */
    min-height: 191px;
    background-image:linear-gradient(to bottom, var(--cor3), var(--cor5));
    color: white;
    text-align: center;   
}

header > h1 {
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.404);    
    /*pra que padding ou margin em outro local se so aqui da pra afastar o titulo do menu de navegacao; deixando o restante zerado*/
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}


header > p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 500px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.404);
}

nav {
   background-color:  var(--cor5);
   box-shadow: 0px 7px 7px rgb(0, 0, 0, 0.484);
   /* Quando eu jogo a sombra toda para baixo, ele tira o efeito em cima e nao atrapalha os outros blocos. se eu deixar zerado ela faz o contorno em todo o bloco, */

   padding: 10px;
}

/* nav > a {
    color: aliceblue;
    padding: 5px;
    text-decoration: none;
    border-radius: 3px;
    transition-duration: .6s;
}

nav > a:hover {
    background-color: rgba(255, 255, 255, 0.706);
    color: black;  tirar agorinha*/
    /* nao sei pq essa merda de margem nao cola com a do lado mesmo especificando tudo com 0   sempre fica um espaco entre os hover, ou seja, sempre vai ter espaco entre um texto e outro nao sei pq*/


.font-android {
    font-family: var(--fonte-android);
    /* font-weight: normal; tive que remover pq o H2 é normal mas o restante é bolder */
}

.font-gradient {
    background-image:linear-gradient(to right, var(--cor1), white);
}

a.externo::after {
    content: '\00A0\1F517';
}

main {
    display: block;
    margin: auto;
    max-width: 1000px;
    min-width: 300px;
    background-color: rgb(255, 255, 255) ;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.484);
}

main h2 {
    color: var(--cor5);
    font-size: 1.7em;
    font-weight: normal;
    /* font-weight: normal; coloquei na class font android mas nao deu certo pq o H2 é normal mas o restante é bolder*/
    /* max-width: 1050px;
    display: block;
    margin: auto; */
    
    
  }

main h3 {
    font-size: 1.3em;
    color: var(--cor4);
    text-indent: 8px;
}

main p  {
    color: rgb(0, 0, 0);
    font-size: 1em;
    text-align: justify;
    line-height: 1.5em;
    text-indent: 30px;
    margin: 15px 0px; /* pq é feito com margin e nao com padding? */
    /*padding-top: 10px 0px;  descobrir se o espacamento é feito assim R= nao nesse exercicio */   
}
 main a {
    text-decoration: none;
    color: var(--cor5);
    font-weight: bold;
    background-color: var(--cor1);
    border-radius: 3px;
    padding: 0px 3px;
    text-decoration: '\2714\00A0\00A0';
 }

 main a:hover {
    color: blue;
    text-decoration: underline;
 }
 main img {
    width: 100%;
 } /* Faz as imagens preencher 100% do espaco */

.droidhuman {
    max-width: 330px;
    display: block;
    margin: auto;
}



/* article { NAO PRECISAVA
   /*  background-color: rgb(255, 255, 255) ;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.484); */

    aside {
    background-color: rgba(0, 255, 136, 0.309);    
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.711);
}

aside h3 {
    
    color: white;
    background-color: var(--cor4);
    border-radius: 10px 10px 0px 0px;
    margin: -10px -10px 0px -10px;
    padding: 5px;
}

 aside ul {
    font-size: 0.9em;
    columns: 2;
    list-style-position: inside;
    list-style-type: '\2714\00A0\00A0';
    
 }

footer {
    font-size: 0.8em;
    color: white;
    text-align: center;
    background-color: var(--cor5);
    padding: 8px;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition-duration: .5s;
}

footer a:hover {
    color:var(--cor5);
    background-color: azure;
    border-radius: 2px;
}

.efeito {
    border: none;
    color: white;
    font-size: 1em;
    border-radius: 3px;
    position: relative;
    box-sizing: border-box;
    cursor:copy;
    transition: all 400ms ease;
    padding: 5px;
    text-decoration: none;
   /*  transition-duration: .6s; */
}

.efeito-1 {
    /* background-color: rgb(40, 121, 40); */
}

.efeito-1:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background: rgb(255, 255, 255, 0.3);
    border-radius: 3px;
    transition: all 1s ease;
}

.efeito-1:hover:before {
    width: 100%;
}

.efeito-2:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0px;
    background: rgb(255, 255, 255, 0.3);
    border-radius: 3px;
    transition: all 1s ease;
}

.efeito-2:hover:before {
    height: 100%;
}

.efeito-3:hover {
    background:rgb(0, 0, 0, 0) ;
    box-shadow: inset 0 0 0 1.3px rgb(255, 255, 255, 0.3);
}

.efeito-4{
    background: #ffffff00;
}
.efeito-4:hover {
    animation: bounce 2s;
} /* Efeito 4 nao funcionou no menu */

.efeito-5 {
    background-color: #ffffff00;
}

.efeito-5:hover {
    transform: skew(-5deg);
} /* Efeito 5 nao funcionou no menu */

.efeito-6 {
    transform-style: preserve-3d;
}

.efeito-6:after {
    top: 100%;
    left: 0px;
    width: 100%;
    padding: 0px;
    position: absolute;
    background-image:linear-gradient(to right, white, var(--cor1));
    border-radius: 3px;
    box-sizing: border-box;
    content: 'A primeira versão';
    transform-origin: left bottom;
    transform: rotateX(90deg);
}



.efeito-6:hover {
    transform-origin: center bottom;
    transform: rotateX(-90deg) translateY(100%);
}/* Nao funcionou em lugar nenhum */


/* .efeito-piscapisca:hover {
    transform-origin: center bottom;
    transform: rotateX(-90deg) translateY(100%);
} So esse comando faz o texto piscar enquanto passa o mouse......*/

