* {
    padding: 0px;
    margin: 0px;
}
/*TABLET*/
@media screen and (min-width: 0px) and (max-width: 600px) {/*TABLET*/
    
body {
    background-color: antiquewhite;
}

header > h1 {
    font-family: 'Shadows Into Light', cursive;
    padding: 0px 1px 7px 7px;
    font-size: 3.5em;
}
header{
/*  border: 1px solid rgb(0, 0, 0, 0.100);*/

}

#logo {
    height: 200px;
    width: 100%;
    background-image: url(imagens/kabalpng.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}
menu > ul > li {
   display: block;
 
   color: rgb(0, 0, 0);
   padding: 5px;
   text-align: center;
   border: 1px solid rgb(100, 100, 100);
   margin-bottom: 0px;
 }

main{
    padding: 10px;
    text-align: center;
    font-family: fantasy;
}

 #img {
    display: inline-block;
    background-image: url(imagens/antartic.png);
    background-size: contain;
    background-position: center;
    height: 100px;
    width: 100px;
 }

 #img1 {
    display: inline-block;
    
    background-image: url(imagens/itaipava.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 100px;
 }

 #img2 {
    display: inline-block;
  
    background-image: url(imagens/skol.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 100px;
 }





 span#burger {
    background-color: rgba(48, 48, 59, 0);
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#burger:hover {
    background-color: rgba(255, 255, 255, 0.341);
    color: black;
}
menu {
    display: none;
    
}