@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    background-color: rgb(136, 132, 132);
    padding: 20px 0px 0px 1px;
    margin-bottom: 10px;
    
}
header > h1{
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 10px;
   /* margin-top: 1px;*/

}

span#burger {
    background-color: rgba(48, 48, 59, 0);
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#burger:hover {
    background-color: rgba(255, 255, 255, 0.341);
    color: black;
}
menu {
    display: none;
    
}

menu > ul > li {
   display: block;
   background-color: rgb(80, 80, 80);
   color: rgb(255, 254, 254);
   padding: 5px;
   text-align: center;
   border: 1px solid rgb(100, 100, 100);
   margin-bottom: 0px;
 
}

li:hover {
    background-color: rgb(113, 113, 113);
}

article p{
    text-indent: 1em;
    padding: 10px;
    text-align: justify;
}

main {
    background-color: rgb(233, 233, 233);
    max-width: 90vh;
    margin: auto;
    border-radius: 5px;
    
    padding: 10px;
}

main h1 {
    padding: 10px;
}

body {
    background-color: rgb(184, 184, 184);
  
}
