@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}


body {
    background-color: black;
    color: white;
    font-family: fantasy;
    
  
}

body {
    top: 50%;
    left: 50%;

}

form {
    display: block;
    background-color: #594343;
    width: 300px;
    height: 250px;
    padding: 10px;

 
}
    

