.container{
    background-color:blueviolet;
    display: flex;
    justify-content: center;
    flex-direction: row;
}



.bloco1{
    background-color: red; 
}

.bloco2 {
    background-color: pink;
}
.bloco3 {
    background-color: green;
}
 /*estou adicionando esta linha